.navbar {
    display: flex;
    height: 50px;
    line-height: 50px;
}
.logo {
    width: 30%;
}
.heading {
    height: 50px;
    line-height: 50px;
}
.menu {
    width: 70%;
}
.listitem {
    display: flex;
}
.item {
    width: 100%;
    list-style-type: none;
}
.href {
    text-decoration: none;
    color: #fff;
}